apiVersion: v1
kind: Service
metadata:
  name: {{ service_name }}
spec:
  type: ClusterIP
  selector:
    app: {{ service_name }}
  ports:
    - name: http
      port: 8080
      targetPort: http
      protocol: TCP
    - name: grpc
      port: 50051
      targetPort: grpc
      protocol: TCP
