apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: {{ namespace | default(value="k1s0-dev") }}

resources:
  - ../../base

replicas:
  - name: {{ feature_name }}
    count: 1

configMapGenerator:
  - name: {{ feature_name }}-config
    behavior: merge
    literals:
      - VITE_ENV=dev
      - VITE_API_BASE_URL={{ api_base_url_dev | default(value="http://api-gateway.k1s0-dev.svc.cluster.local:8080") }}
