app:
  name: "auth-server"
  version: "0.1.0"
  environment: "dev"

server:
  host: "0.0.0.0"
  port: 8080

database:
  host: postgres
  port: 5432
  name: auth_db
  user: dev
  password: dev
  ssl_mode: disable

auth:
  jwt:
    issuer: "http://localhost:8180/realms/k1s0"
    audience: "k1s0-api"
  jwks:
    url: "http://keycloak:8080/realms/k1s0/protocol/openid-connect/certs"
    cache_ttl_secs: 300

kafka:
  brokers:
    - "kafka:9092"
  topic: "audit-events-dev"
