apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ feature_name | kebab_case }}-config
data:
  ENV: "dev"
  GRPC_PORT: "{{ grpc_port | default(value=50051) }}"
{% if has_rest | default(value=false) %}
  HTTP_PORT: "{{ rest_port | default(value=8080) }}"
{% endif %}
  LOG_LEVEL: "info"
  LOG_FORMAT: "json"
