apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - deployment.yaml
  - service.yaml
  - configmap.yaml

commonLabels:
  app: {{ feature_name | kebab_case }}
  app.kubernetes.io/name: {{ feature_name | kebab_case }}
  app.kubernetes.io/component: backend
  app.kubernetes.io/part-of: k1s0

images:
  - name: {{ feature_name | kebab_case }}
    newName: {{ container_registry | default(value="ghcr.io/k1s0") }}/{{ feature_name | kebab_case }}
    newTag: latest
