apiVersion: v1
kind: Service
metadata:
  name: {{ feature_name }}
spec:
  type: ClusterIP
  selector:
    app: {{ feature_name }}
  ports:
    - name: http
      port: {{ port | default(value=3000) }}
      targetPort: http
      protocol: TCP
