apiVersion: v1
kind: Secret
metadata:
  name: {{ service_name }}-alert-notification
  namespace: {{ namespace }}
  labels:
    app.kubernetes.io/name: {{ service_name }}
    tier: {{ tier }}
type: Opaque
stringData:
  teams-webhook-url: "https://outlook.office.com/webhook/placeholder"
  slack-webhook-url: "https://hooks.slack.com/services/placeholder"
