global:
  resolve_timeout: 5m

route:
  group_by: ['alertname', 'namespace', 'service']
  group_wait: 30s
  group_interval: 5m
  repeat_interval: 4h
  receiver: teams-default
  routes:
    - match:
        severity: critical
      receiver: teams-critical
      repeat_interval: 1h
    - match:
        severity: warning
      receiver: teams-warning
      repeat_interval: 4h
    # staging 環境での warning 抑制
    - match:
        severity: warning
        environment: staging
      receiver: 'null'    # 通知しない

receivers:
  - name: teams-default
    webhook_configs:
      - url: 'http://prometheus-msteams:2000/default'
        send_resolved: true

  - name: teams-critical
    webhook_configs:
      - url: 'http://prometheus-msteams:2000/critical'
        send_resolved: true

  - name: teams-warning
    webhook_configs:
      - url: 'http://prometheus-msteams:2000/warning'
        send_resolved: true
