CLI/target/*
framework/frontend/react/node_modules/*
framework/frontend/react/packages/k1s0-api-client/node_modules/*
framework/frontend/react/packages/k1s0-navigation/node_modules/*
framework/frontend/react/packages/k1s0-api-client/dist/*
framework/frontend/react/packages/k1s0-navigation/dist/*
framework/frontend/react/packages/k1s0-ui/node_modules/*
framework/frontend/react/packages/k1s0-ui/dist/*
framework/backend/rust/crates/k1s0-config/target/*
