apiVersion: v1
kind: Service
metadata:
  name: {{ feature_name_kebab }}
spec:
  type: ClusterIP
  selector:
    app: {{ feature_name_kebab }}
  ports:
    - name: http
      port: {{ port | default(value=80) }}
      targetPort: http
      protocol: TCP
