**/.git
**/.vscode
**/.idea
**/__pycache__/
**/.mypy_cache/
**/.pytest_cache/
**/.ruff_cache/
**/*.egg-info/
**/dist/
**/build/
**/node_modules/
**/.k1s0/
**/tests/
**/docs/
**/deploy/
**/*.md
**/.venv/
**/.env
**/.gitignore
**/.editorconfig
**/.dockerignore
.github/
scripts/
work/
bff/
CLI/
