**/.git
**/.vs
**/.vscode
**/.idea
**/bin/
**/obj/
**/out/
**/node_modules/
**/.k1s0/
**/tests/
**/docs/
**/deploy/
**/migrations/
**/*.md
**/.gitignore
**/.editorconfig
**/.dockerignore
.github/
scripts/
work/
bff/
CLI/
