apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - ../../base

namespace: {{ feature_name }}-stg

commonLabels:
  env: stg

replicas:
  - name: {{ feature_name }}
    count: 2

configMapGenerator:
  - name: {{ feature_name }}-config
    behavior: merge
    files:
      - stg.yaml=config/stg.yaml
