go 1.22.7

use (
	./k1s0-auth
	./k1s0-cache
	./k1s0-config
	./k1s0-consensus
	./k1s0-db
	./k1s0-domain-event
	./k1s0-error
	./k1s0-grpc-client
	./k1s0-grpc-server
	./k1s0-health
	./k1s0-observability
	./k1s0-resilience
	./k1s0-rate-limit
	./k1s0-validation
)
