services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "{{ rest_port }}:80"
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:80"]
      interval: 5s
      timeout: 3s
      retries: 10
