replicaCount: 1

resources:
  requests:
    cpu: 50m
    memory: 64Mi
  limits:
    cpu: 250m
    memory: 256Mi

autoscaling:
  enabled: false

pdb:
  enabled: false

vault:
  enabled: false

config:
  data:
    config.yaml: |
      app:
        environment: dev
      session:
        redis:
          addr: redis.k1s0-system.svc.cluster.local:6379
      observability:
        log:
          level: debug
          format: text
        trace:
          sample_rate: 1.0
