replicaCount: 2

resources:
  requests:
    cpu: 250m
    memory: 256Mi
  limits:
    cpu: 1000m
    memory: 1Gi

autoscaling:
  enabled: true
  minReplicas: 2
  maxReplicas: 5

config:
  data:
    config.yaml: |
      app:
        environment: staging
      graphql:
        introspection: false
        playground: false
      backends:
        tenant:
          address: "http://tenant.k1s0-system.svc.cluster.local:9090"
        featureflag:
          address: "http://featureflag.k1s0-system.svc.cluster.local:9090"
        config:
          address: "http://config.k1s0-system.svc.cluster.local:9090"
      observability:
        log:
          level: info
        trace:
          sample_rate: 0.5
