{% if api_style == "grpc" %}
fn main() -> Result<(), Box<dyn std::error::Error>> {
    tonic_build::configure()
        .build_server(true)
        .build_client(false)
        .out_dir("src/proto")
        .compile_protos(
            &["api/proto/k1s0/{{ tier }}/{{ service_name_snake }}/v1/{{ service_name_snake }}.proto"],
            &["api/proto"],
        )?;
    Ok(())
}
{% endif %}
